body{
    height: 100vh;
    background-image: linear-gradient(#E2232C, #111111);
}

form {
    margin: auto;
    width: 35%;
    color: #FB777E;
}
fieldset{
    background-color: #900007;
    border-color: #F04D55;
}
legend{
    color: #FB777E;
    background-color: #B60D16;
}
input[type = number]{
    border-radius: 4px;
    float: right;
}
input[type = number]:focus{
    background-color: #F8F8F8;
}
label {
    text-align: right;
    clear: both;
    float:left;
    margin-right:10px;
}
.result {
    margin: auto;
    width: 35%;
    border: 1px solid #ccc;
    background-color: #900007;
    color: #FB777E;
    border-color: #F04D55;
}
.center{
    text-align: center;
}
input[type = submit]{
    color: #FB777E;
    border-radius: 4px;
    background-color: #B60D16;
    border-color: #F04D55;
}

input[type = submit]:hover{
    cursor: pointer;
    background-color: #900007;
}
